#over-div{
    height: 70vh;
}
::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgb(201, 203, 204);
}
   
::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 2px;
}
.accordion-button{
    background-color: rgb(242 244 245);
}
#slide-img{
    width: 26px;
    height: 26;
}
#accord-text{
    font-size: 10.5pt;
    opacity: 0.98;
}
@media screen and (max-width: 992px) {
    #over-div{
        display: none;
    }
}